.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* padding: 40px; */
  align-items: center;
  border-radius: 10px;
}
.homeContainer {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  min-width: 60%;
  max-width: 60%;
  min-height: 500px;
  margin-top: 50px;
  padding: 40px;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 700px) {
  .homeContainer {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    margin-top: 0;
    padding: 0px;

    align-items: center;
    display: flex;
  }
}

.con .googleAlertButton {
  background-color: #ffffff;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid black;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.googleAlertButton:hover {
  opacity: 0.8;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3.5rem;
  text-align: center;
  font-family: "Sedgwick Ave", cursive;
  width: 100%;
  /* font-family: "Creepster", cursive; */
  letter-spacing: 5px;
  color: #ffffff;
  background: #23232300;
  text-shadow: 0 0 10px #51ff00, 2px 2px 2px rgba(5, 255, 0, 0.57);

  padding: 10px;
}

.clockContainer {
  width: 100%;
}

.releaseDate {
  font-size: 1.2rem;
  font-family: "Creepster", cursive;
  color: #ffffff;
  background: #23232300;
  text-shadow: 0 0 10px #51ff00, 2px 2px 2px rgba(5, 255, 0, 0.57);

  padding: 10px;
  text-align: center;
}

.phantom-logo {
  height: 500px;
  width: 300px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phantom-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.googleAlertButton {
  background-color: #ffffff;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid black;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.homeTitle {
  color: whitesmoke;
  font-size: 2.3rem;
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 100px;
  font-family: "Sedgwick Ave", cursive;
  letter-spacing: 5px;
  text-align: center;
  text-shadow: 4px 3px 11px #98ff82;
  font-weight: 500;
}

.homeImage {
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.homeImage img {
  z-index: 999;
  object-fit: cover;
  height: 800px;
  width: 600px;

  top: 500px;
}

.minting {
  font-size: 40px;

  /* bottom: -550px; */
  color: whitesmoke;
  text-align: center;
  font-family: "Sedgwick Ave", cursive;
  letter-spacing: 5px;
}

.connectedWallet {
  color: whitesmoke;
  text-align: center;
  font-family: "Sedgwick Ave", cursive;
  margin-bottom: 20px;
}

/* .homeTitle {
  color: white;
  font-size: 1.4rem;
  font-weight: 800;
  padding: 150px;
  border-top: 1px solid white;
} */

/* img {
  height: 1300px;
  position: relative; top: -115px;
} */
.join {
  font-size: 25px;
  color: whitesmoke;

  text-shadow: 0 0 20px rgb(15, 182, 68);
}

.email {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.email input {
  width: 300px;
  height: 30px;
  padding: 15px;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.submitButton {
  width: 65px;
  padding: 7px;
  border: 1px solid whitesmoke;
}

.newInput input {
  padding: 15px;
}
