.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* padding: 40px; */
  align-items: center;
  border-radius: 10px;
}
.homeContainer {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  min-width: 60%;
  min-height: 500px;
  margin-top: 50px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.486);
  border: 1px solid #fff;
  -webkit-box-shadow: 1px 1px 33px 8px rgba(206, 255, 204, 0.86);
  box-shadow: 1px 1px 33px 8px rgba(206, 255, 204, 0.86);
  align-items: center;
  justify-content: center;
}

.googleAlertButton {
  background-color: #ffffff;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid black;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.googleAlertButton:hover {
  opacity: 0.8;
}

.clock {
  display: flex;
  justify-content: center;
}

.homeTitle {
  color: whitesmoke;
  font-size: 2.3rem;
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 100px;
  font-family: "Sedgwick Ave", cursive;
  letter-spacing: 5px;
  text-align: center;
  text-shadow: 4px 3px 11px #98ff82;
  font-weight: 500;
}

.homeImage {
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.homeImage img {
  z-index: 999;
  object-fit: cover;
  height: 800px;
  width: 600px;

  top: 500px;
}

.minting {
  font-size: 40px;

  /* bottom: -550px; */
  color: whitesmoke;
  text-align: center;
  font-family: "Sedgwick Ave", cursive;
  letter-spacing: 5px;
}

/* .homeTitle {
  color: white;
  font-size: 1.4rem;
  font-weight: 800;
  padding: 150px;
  border-top: 1px solid white;
} */

/* img {
  height: 1300px;
  position: relative; top: -115px;
} */
.join {
  font-size: 25px;
  color: whitesmoke;

  text-shadow: 0 0 20px rgb(15, 182, 68);
}

.openSeaUrl {
  font-size: 1.2rem;
  font-weight: 800;
  color: rgb(171, 255, 157);
  background-color: rgb(0, 93, 0);
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid white;
  text-align: center;
  margin: 20px;
  transition: all 0.2s ease-in-out;
}

.openSeaUrl:hover {
  background-color: white;
  color: rgb(0, 92, 23);
}

.connectWalletError {
  color: red;
  font-size: 1.8rem;
  font-weight: 800;
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(182, 255, 182);
  min-height: 100px;
  min-width: 300px;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
}

.connectWalletError:hover {
  background-color: rgb(0, 92, 23);
  color: white;
  cursor: pointer;
}

.signInWithGoogleError {
  color: red;
  font-size: 1.8rem;
  font-weight: 800;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(182, 255, 182);
  min-height: 100px;
  min-width: 300px;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
}

.signInWithGoogleError:hover {
  background-color: rgb(0, 92, 23);
  color: white;
  cursor: pointer;
}

.errorButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
}
.email {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.email input {
  width: 300px;
  height: 30px;
  padding: 15px;
}

.submitButton {
  width: 65px;
  padding: 7px;
  border: 1px solid whitesmoke;
  margin-top: 25px;
}

.newInput input {
  padding: 15px;
}
