.faqWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.faqContainer {
  height: 500px;
  width: 90%;
  color: white;
  padding: 30px;
  margin-top: 10%;
  overflow-y: scroll;
}

.faqContainer::-webkit-scrollbar {
  display: none;
}

.faqQuestion {
  font-weight: 800;
  font-size: 1.6rem;
  margin-top: 10px;
  width: 100%;
}

.faqAnswer {
  margin: 10px;
  line-height: 25px;
  width: 60ch;
}
