.counter > span {
  color: black;
  font-size: 3rem;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
}

.counter {
  /* border: .5px solid #097919; */
  color: black;
  padding: 30px;
  display: flex;
  flex-direction: row;
  text-shadow: 0 0 20px rgb(10, 230, 76), 0 0 20px rgba(10, 175, 230, 0);
}

.counter > span:nth-child(1) {
  border: 2px solid lime;
  border-radius: 50px;
  padding: 30px;
}
