.faqWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 30px;
}

.faqContainer {
  margin-top: 10%;
  height: 700px;
  max-width: 90%;
  text-align: center;
  color: white;
  padding: 30px;
  margin: auto;
  overflow-y: scroll;
}

.faqContainer::-webkit-scrollbar {
  display: none;
}

.faqQuestion {
  font-weight: 800;
  font-size: 1.6rem;
  text-align: center;
  max-width: 80ch;
}

.faqAnswer {
  margin: 10px;
  line-height: 25px;
  max-width: 80ch;
  text-align: center;
}
