.faqWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
}

.faqTitle {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 20px;
  color: white;
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 30px;
}

.faqContainer {
  margin-top: 10%;
  height: 650px;
  max-width: 90%;
  text-align: center;
  color: white;
  padding: 30px;
  margin: auto;
  margin-bottom: 30px;
  overflow-y: scroll;
}

.faqContainer::-webkit-scrollbar {
  display: none;
}

.faqQuestion {
  font-weight: 800;
  font-size: 1.6rem;
  text-align: center;
  max-width: 80ch;
  color: lime;
}

.faqAnswer {
  margin: 10px;
  line-height: 25px;
  max-width: 90ch;
  text-align: center;
  line-height: 2rem;
  font-size: 1.4rem;
  color: rgb(169, 173, 170);
}
