.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 30vh;
  left: 0;
  bottom: 0;
  -webkit-box-shadow: 1px 1px 33px 8px rgba(206, 255, 204, 0.86);
  box-shadow: 1px 1px 33px 8px rgba(206, 255, 204, 0.86);
  background-color: rgb(2, 22, 0);
  border-top: 3px solid rgb(9, 255, 0);
}

.navMenuFooter > a {
  font-weight: 800;
  margin: 0 16px;
  font-size: 1.2rem;
}

.copyrightText {
  font-size: 1.2rem;
  margin: 16px 16px;
  color: white;
}
