.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2000 1200'%3E%3Cdefs%3E%3Cg id='a' fill='%230E6B05' %3E%3Cpath d='M0 0 234 140.1 0 10z'/%3E%3Cpath d='M0 10 234 150.1 0 20z'/%3E%3Cpath d='M0 20 234 160.1 0 30z'/%3E%3C/g%3E%3Cg id='b'%3E%3Cuse xlink:href='%23a' y='0'/%3E%3Cuse xlink:href='%23a' y='30'/%3E%3Cuse xlink:href='%23a' y='60'/%3E%3C/g%3E%3Cg id='c'%3E%3Cpath fill='%23000000' d='M234 135.1 0 0 0 270.2 234 405.3z'/%3E%3Cuse xlink:href='%23b' y='0'/%3E%3Cuse xlink:href='%23b' y='90'/%3E%3Cuse xlink:href='%23b' y='180'/%3E%3C/g%3E%3Cg id='d'%3E%3Cuse xlink:href='%23c' x='0' y='0'/%3E%3Cuse xlink:href='%23c' x='-233.8' y='-405.1' transform='rotate(120)'/%3E%3Cuse xlink:href='%23c' x='-467.8' y='0' transform='rotate(-120)'/%3E%3C/g%3E%3Cpattern id='p' width='936' height='810.6' patternUnits='userSpaceOnUse'%3E%3Cuse xlink:href='%23d' x='0' y='0'/%3E%3Cuse xlink:href='%23d' x='468' y='0'/%3E%3Cuse xlink:href='%23d' x='234' y='405.3'/%3E%3Cuse xlink:href='%23d' x='-234' y='405.3'/%3E%3Cuse xlink:href='%23d' x='702' y='405.3'/%3E%3Cuse xlink:href='%23d' x='0' y='810.6'/%3E%3Cuse xlink:href='%23d' x='468' y='810.6'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.glass {
  width: 400px;
  display: flex;
  align-items: center;
  padding: 30px;
  flex-direction: column;
  background: rgba(117, 129, 115, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.708);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.button {
  padding: 10px;
  color: black;
  background: #c5efcb;
  border-radius: 10px;
  margin: 10px;
}

.header {
  color: #c6dec6;
}
