.app {
  height: 100vh;
  width: 100%;
  background: radial-gradient(
    circle at 50% 50%,
    #000000,
    #000300,
    #000b02,
    #001603,
    #002505,
    #003508,
    #00450a,
    #00550d,
    #00640f,
    #006f10,
    #007712,
    #007a12
  );
}
